<footer class="container text-center" style="background-color: white; max-width: 100%;">
        <div
          class="row flex-column flex-lg-row justify-content-lg-center align-items-stretch"
        >
          <div class="footer__nav mx-auto mx-lg-0 p-3">
            <div class="row flex-nowrap">
              <div class="footer__nav-left col col-lg-7 text-left">
                <h6>Your City Hall</h6>
                <ul class="footer--city-hall list-unstyled">
                  <li class="footer__nav-left__item">
                    <a href="/contact" class="d-flex">Contact Us</a>
                  </li>
                  <li class="footer__nav-left__item">
                    <a
                      href="/categories/your-city-hall/get-involved"
                      class="d-flex"
                      >Get Involved</a
                    >
                  </li>
                  <li class="footer__nav-left__item">
                    <a href="https://311.santamonica.gov/csp" class="d-flex"
                      >Submit a Request</a
                    >
                  </li>
                  <li class="footer__nav-left__item">
                    <a
                      href="https://www.governmentjobs.com/careers/santamonica"
                      class="d-flex"
                      >Careers</a
                    >
                  </li>
                  <li class="footer__nav-left__item">
                    <a href="/about" class="d-flex">About Us</a>
                  </li>
                  <li class="footer__nav-left__item">
                    <a
                      href="https://forms.office.com/Pages/ResponsePage.aspx?id=rirpx2Xf30ueH4az8jOusvnDRtzrKNxCn3zaprsGn3hUOUdKMjlLTk9ZMFFQSzAxT09LTzU2VU03Ty4u"
                      class="d-flex"
                      >Site Feedback</a
                    >
                  </li>
                </ul>
              </div>
              <div class="footer__nav-right col-5 col-lg-6 text-left">
                <h6>Latest</h6>
                <ul class="footer--latest list-unstyled">
                  <li class="footer__nav-right__item">
                    <a href="/events" class="d-flex">Events</a>
                  </li>
                  <li class="footer__nav-right__item">
                    <a href="/news" class="d-flex">News</a>
                  </li>
                </ul>

                <ul class="list-unstyled">
                  <li class="footer__nav-right__item">
                    <span class="hr"></span>
                  </li>
                </ul>
                <h6>Legal</h6>
                <ul class="list-unstyled">
                  <li class="footer__nav-right__item">
                    <a href="/disclaimer" class="d-flex">Disclaimer</a>
                  </li>
                  <li class="footer__nav-right__item">
                    <a
                      href="/city-of-santa-monica-s-privacy-and-security-statement"
                      class="d-flex"
                      >Privacy Policy</a
                    >
                  </li>
                  <li class="footer__nav-right__item">
                    <a href="/accessibility-policy" class="d-flex"
                      >Accessibility Policy</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="row flex-nowrap mt-3">
              <div class="footer__nav-socials col col-lg-7 text-left">
                <h6>follow us</h6>

                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a
                      href="https://twitter.com/santamonicacity?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                      class="footer__nav-left-social__item"
                      aria-label="Twitter"
                    >
                      <i aria-hidden="true" class="fab fa-twitter"></i>
                      <span class="sr-only">Twitter</span>
                    </a>
                    <a
                      href="https://www.facebook.com/cityofsantamonica/"
                      class="footer__nav-left-social__item"
                      aria-label="Facebook"
                    >
                      <i aria-hidden="true" class="fab fa-facebook"></i>
                      <span class="sr-only">Facebook</span>
                    </a>
                    <a
                      href="https://www.instagram.com/cityofsantamonica/?hl=en"
                      class="footer__nav-left-social__item"
                      aria-label="Instagram"
                    >
                      <i aria-hidden="true" class="fab fa-instagram"></i>
                      <span class="sr-only">Instagram</span>
                    </a>
                    <a
                      href="https://www.youtube.com/channel/UC4V0jOEL4JMCcElkGA7AJpA"
                      class="footer__nav-left-social__item"
                      aria-label="YouTube"
                    >
                      <i aria-hidden="true" class="fab fa-youtube"></i>
                      <span class="sr-only">YouTube</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <hr class="footer__xline my-5 w-100 d-lg-none" />
          <span class="footer__yline d-none d-lg-block"></span>

          <div class="footer__newsletter mx-auto mx-lg-0 text-lg-left">
            <img
              src="https://santamonica.gov/SantaMonica.Gov.Theme/Images/LogoStacked.svg"
              class="footer__newsletter-image pb-4"
              aria-label="City of Santa Monica Logo"
              alt="City of Santa Monica Logo"
            />
          </div>
        </div>
      </footer>

