html {
  font-family: sans-serif;
}
body {
  margin: 0;
}
main {
  display: block;
}
[hidden] {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  appearance: none;
}
@media print {
  *,
  ::after,
  ::before {
    background: 0 0 !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    break-after: avoid;
  }
  .label {
    border: 1px solid #000;
  }
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url(../fonts/bootstrap/glyphicons-halflings-regular.woff2)
      format("woff2"),
    url(../fonts/bootstrap/glyphicons-halflings-regular.woff) format("woff"),
    url(../fonts/bootstrap/glyphicons-halflings-regular.ttf) format("truetype");
}
body {
  background-color: #fff;
  color: #676767;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57143;
}
button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #257bb1;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #184f72;
  text-decoration: underline;
}
a:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}
[role="button"] {
  cursor: pointer;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #488444;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.1;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-bottom: 10px;
  margin-top: 20px;
}
.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.h1,
h1 {
  font-size: 33px;
}
.h2,
h2 {
  font-size: 30px;
}
.h3,
h3 {
  font-size: 24px;
}
.h4,
h4 {
  font-size: 18px;
}
.h5,
h5 {
  font-size: 14px;
}
.h6,
h6 {
  font-size: 12px;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.text-primary {
  color: #005eb8;
}
a.text-primary:focus,
a.text-primary:hover {
  color: #042b44;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container::after,
.container::before {
  content: " ";
  display: table;
}
.container::after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row::after,
.row::before {
  content: " ";
  display: table;
}
.row::after {
  clear: both;
}
label {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
  max-width: 100%;
}
input[type="search"] {
  appearance: none;
  box-sizing: border-box;
}
input[type="checkbox"],
input[type="radio"] {
  line-height: normal;
  margin: 4px 0 0;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
input[type="checkbox"]:focus,
input[type="file"]:focus,
input[type="radio"]:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}
.form-control,
form .form-group input {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset;
  color: #656d74;
  display: block;
  font-size: 14px;
  height: 31px;
  line-height: 1.57143;
  padding: 6px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.form-control:focus,
form .form-group input:focus {
  border-color: #5aa655;
  box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset,
    rgba(90, 166, 85, 0.6) 0 0 8px;
  outline: 0;
}
.form-control::-webkit-input-placeholder,
form .form-group input::-webkit-input-placeholder {
  color: #656d74;
}
.form-control[disabled],
.form-control[readonly],
form .form-group input[disabled],
form .form-group input[readonly] {
  background-color: #fff;
  opacity: 1;
}
.form-control[disabled],
form .form-group input[disabled],
input[type="checkbox"][disabled],
input[type="radio"][disabled] {
  cursor: not-allowed;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  form .form-group input[type="date"],
  form .form-group input[type="datetime-local"],
  form .form-group input[type="month"],
  form .form-group input[type="time"],
  input[type="date"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control,
  input[type="time"].form-control {
    line-height: 31px;
  }
  .input-group-lg input[type="date"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"],
  .input-group-lg input[type="time"],
  .input-group-lg > .input-group-btn > input.btn[type="date"],
  .input-group-lg > .input-group-btn > input.btn[type="datetime-local"],
  .input-group-lg > .input-group-btn > input.btn[type="month"],
  .input-group-lg > .input-group-btn > input.btn[type="time"],
  .input-group-lg > .input-group-btn > input[type="date"][type="submit"],
  .input-group-lg
    > .input-group-btn
    > input[type="datetime-local"][type="submit"],
  .input-group-lg > .input-group-btn > input[type="month"][type="submit"],
  .input-group-lg > .input-group-btn > input[type="time"][type="submit"],
  .input-group-lg > input.form-control[type="date"],
  .input-group-lg > input.form-control[type="datetime-local"],
  .input-group-lg > input.form-control[type="month"],
  .input-group-lg > input.form-control[type="time"],
  form .form-group .input-group-lg > input[type="date"],
  form .form-group .input-group-lg > input[type="datetime-local"],
  form .form-group .input-group-lg > input[type="month"],
  form .form-group .input-group-lg > input[type="time"],
  input[type="date"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  input[type="time"].input-lg {
    line-height: 40px;
  }
}
.form-group {
  margin-bottom: 15px;
}
.form-group-lg .form-control,
.form-group-lg form .form-group input,
.input-group-lg > .form-control,
.input-group-lg > .input-group-btn > .btn,
.input-group-lg > .input-group-btn > input[type="submit"],
.input-lg,
form .form-group .form-group-lg input,
form .form-group .input-group-lg > input {
  border-radius: 10px;
  font-size: 18px;
  height: 40px;
  line-height: 1.33333;
  padding: 10px;
}
.btn,
input[type="submit"] {
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57143;
  margin-bottom: 0;
  padding: 6px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.btn:active.focus,
.btn:active:focus,
.btn:focus,
input:active.focus[type="submit"],
input:active:focus[type="submit"],
input:focus[type="submit"] {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}
.btn:focus,
.btn:hover,
input:focus[type="submit"],
input:hover[type="submit"] {
  color: #333;
  text-decoration: none;
}
.btn:active,
input:active[type="submit"] {
  background-image: none;
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}
.btn[disabled],
input[disabled][type="submit"] {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.65;
}
.btn-primary,
input[type="submit"] {
  background-color: #005eb8;
  border-color: #063b5c;
  color: #fff;
}
.btn-primary:focus,
input:focus[type="submit"] {
  background-color: #042b44;
  border-color: #000;
  color: #fff;
}
.btn-primary:hover,
input:hover[type="submit"] {
  background-color: #042b44;
  border-color: #021622;
  color: #fff;
}
.btn-primary:active,
input:active[type="submit"] {
  background-color: #042b44;
  background-image: none;
  border-color: #021622;
  color: #fff;
}
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
input:active.focus[type="submit"],
input:active:focus[type="submit"],
input:active:hover[type="submit"] {
  background-color: #021622;
  border-color: #000;
  color: #fff;
}
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
input[disabled]:focus[type="submit"],
input[disabled]:hover[type="submit"] {
  background-color: #005eb8;
  border-color: #063b5c;
}
.btn-link {
  border-radius: 0;
  color: #257bb1;
  font-weight: 400;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  box-shadow: none;
}
.btn-link,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
  border-color: transparent;
}
.btn-link:focus,
.btn-link:hover {
  background-color: transparent;
  color: #184f72;
  text-decoration: underline;
}
.btn-link[disabled]:focus,
.btn-link[disabled]:hover {
  color: #dadada;
  text-decoration: none;
}
.btn-group-lg > .btn,
.btn-group-lg > input[type="submit"],
.btn-lg {
  border-radius: 3px;
  font-size: 18px;
  line-height: 1.33333;
  padding: 10px;
}
.btn-group {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.btn-group > .btn,
.btn-group > input[type="submit"] {
  float: left;
  position: relative;
}
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"]
  > .btn-group
  > input[type="submit"]
  input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > input[type="submit"] input[type="radio"],
[data-toggle="buttons"] > input[type="submit"] input[type="checkbox"],
[data-toggle="buttons"] > input[type="submit"] input[type="radio"] {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
.input-group {
  border-collapse: separate;
  display: table;
  position: relative;
}
.input-group[class*="col-"] {
  float: none;
  padding-left: 0;
  padding-right: 0;
}
.input-group .form-control,
.input-group form .form-group input,
form .form-group .input-group input {
  float: left;
  margin-bottom: 0;
  position: relative;
  width: 100%;
  z-index: 2;
}
.input-group .form-control:focus,
.input-group form .form-group input:focus,
form .form-group .input-group input:focus {
  z-index: 3;
}
.input-group .form-control,
.input-group form .form-group input,
.input-group-btn,
form .form-group .input-group input {
  display: table-cell;
}
.input-group-btn {
  vertical-align: middle;
  white-space: nowrap;
  width: 1%;
}
.input-group-btn {
  font-size: 0;
  position: relative;
  white-space: nowrap;
}
.input-group-btn > .btn,
.input-group-btn > input[type="submit"] {
  position: relative;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group,
.input-group-btn:first-child > input[type="submit"] {
  margin-right: -1px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group,
.input-group-btn:last-child > input[type="submit"] {
  margin-left: -1px;
  z-index: 2;
}
.btn-group > .btn:active,
.btn-group > .btn:focus,
.btn-group > .btn:hover,
.btn-group > input:active[type="submit"],
.btn-group > input:focus[type="submit"],
.btn-group > input:hover[type="submit"],
.input-group-btn > .btn:active,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:hover,
.input-group-btn > input:active[type="submit"],
.input-group-btn > input:focus[type="submit"],
.input-group-btn > input:hover[type="submit"] {
  z-index: 2;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn + input[type="submit"],
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group,
.btn-group .btn-group + input[type="submit"],
.btn-group input[type="submit"] + .btn,
.btn-group input[type="submit"] + .btn-group,
.btn-group input[type="submit"] + input[type="submit"],
.input-group-btn > .btn + .btn,
.input-group-btn > .btn + input[type="submit"],
.input-group-btn > input[type="submit"] + .btn,
.input-group-btn > input[type="submit"] + input[type="submit"] {
  margin-left: -1px;
}
.btn-group > .btn-group {
  float: left;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn,
.btn-group
  > .btn-group:not(:first-child):not(:last-child)
  > input[type="submit"],
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
.btn-group
  > input:not(:first-child):not(:last-child):not(.dropdown-toggle)[type="submit"],
.input-group .form-control:not(:first-child):not(:last-child),
.input-group form .form-group input:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
form .form-group .input-group input:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.btn-group > .btn:first-child,
.btn-group > input:first-child[type="submit"] {
  margin-left: 0;
}
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group
  > .btn-group:first-child:not(:last-child)
  > input:last-child[type="submit"],
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.btn-group
  > input:first-child:not(:last-child):not(.dropdown-toggle)[type="submit"],
.input-group .form-control:first-child,
.input-group form .form-group input:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .btn-group > input[type="submit"],
.input-group-btn:first-child > input[type="submit"],
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn,
.input-group-btn:last-child
  > .btn-group:not(:last-child)
  > input[type="submit"],
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child
  > input:not(:last-child):not(.dropdown-toggle)[type="submit"],
form .form-group .input-group input:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child,
.btn-group
  > .btn-group:last-child:not(:first-child)
  > input:first-child[type="submit"],
.btn-group > .btn:last-child:not(:first-child),
.btn-group > input:last-child:not(:first-child)[type="submit"],
.input-group .form-control:last-child,
.input-group form .form-group input:last-child,
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.input-group-btn:first-child
  > .btn-group:not(:first-child)
  > input[type="submit"],
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > input:not(:first-child)[type="submit"],
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .btn-group > input[type="submit"],
.input-group-btn:last-child > input[type="submit"],
form .form-group .input-group input:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.label {
  border-radius: 0.25em;
  color: #fff;
  display: inline;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  padding: 0.2em 0.6em 0.3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}
.label-primary {
  background-color: #005eb8;
}
.label-primary[href]:focus,
.label-primary[href]:hover {
  background-color: #042b44;
}
.label:empty {
  display: none;
}
.btn .label,
input[type="submit"] .label {
  position: relative;
  top: -1px;
}
a.label:focus,
a.label:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
@-webkit-keyframes progress-bar-stripes {
  0% {
    background-position: 40px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  0% {
    background-position: 40px 0;
  }
  100% {
    background-position: 0 0;
  }
}
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
::after,
::before {
  box-sizing: inherit;
}
body,
html {
  height: 100%;
}
body {
  background: #fff;
  margin: 0;
}
.container {
  width: 100%;
}
@media (min-width: 1248px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}
.btn,
input[type="submit"] {
  border: 0;
  font-weight: 300;
  transition: all 0.2s ease-in-out 0s;
}
.category--box:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 40px;
}

.category--box:hover .category__link-content {
  color: white
}

.category--box:hover img {
  filter: invert(99%) sepia(0%) saturate(7494%) hue-rotate(118deg)
    brightness(105%) contrast(100%);
}

.category--box {
  border-radius: 3px;
  position: relative;
}
.category--box:hover {
  transform: translateY(-2px);
}
body {
  color: #676767;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}
a {
  color: #257bb1;
  cursor: pointer;
  display: inline;
  hyphens: none;
  word-break: break-all;
}
a:hover {
  color: #3497d5;
  text-decoration: none;
}
.heading {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}
.heading-content,
.heading-main {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
}
.heading-content {
  color: #4895a7;
  margin-top: 0;
  word-break: break-word;
}
::selection {
  background: #fe57a1;
  color: #fff;
}
.control-label[for="field-order-by"] {
  line-height: 30px;
  padding-right: 0;
}
.control-label {
  color: #676767;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 7px;
  text-transform: uppercase;
}
.form-control,
form .form-group input {
  background-color: #fff;
}
form .form-group {
  margin: 10px 0;
  position: relative;
}
form .form-group label {
  color: #005eb8;
}
.form-container {
  background-color: #fafafa;
  border: 1px solid #eee;
  margin-bottom: 20px;
  padding: 20px;
}
.form-container label {
  margin: 0 10px;
}
.hero {
  background-position: center center;
  background-size: cover;
  position: relative;
}
.hero::after {
  background: linear-gradient(
    rgba(218, 233, 237, 0) 0,
    rgba(7, 74, 116, 0.6) 60%,
    rgba(3, 28, 44, 0.9) 100%
  );
  content: "";
  display: block;
  position: absolute;
}
.hero__inner {
  padding-top: 180px;
  position: relative;
  z-index: 1;
}
.hero .input-group {
  display: table;
}
.hero .input-group input {
  border: none;
  font-size: 14px;
  height: 40px;
}
.hero .input-group input:focus {
  border: none;
  box-shadow: none;
}
.hero .input-group input::placeholder {
  font-size: 13px;
  letter-spacing: 1px;
}
.hero .input-group button.btn-secondary,
.hero .input-group button.btn-secondary--search {
  font-size: 13px;
  letter-spacing: 2px;
  padding: 10px 20px;
  text-transform: uppercase;
}
.hero .input-group .form-control,
.hero .input-group form .form-group input,
form .form-group .hero .input-group input {
  margin-bottom: 10px;
  margin-top: 10px;
}
@media (max-width: 480px) {
  .hero .input-group {
    display: block;
  }
  .hero .input-group div.input-group-btn {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: block;
    width: 100%;
  }
  .hero .input-group button#search {
    border-top-right-radius: 0;
    line-height: 20px;
    width: 100%;
  }
  .hero .input-group #q {
    border-bottom-left-radius: 3px;
    float: left;
    margin: 0;
    width: 70%;
  }
  .hero .input-group span.input-group-btn {
    float: right;
    width: 30%;
  }
}
@media (min-width: 768px) {
  .hero .input-group button {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 992px) {
  .hero .input-group .form-control,
  .hero .input-group form .form-group input,
  form .form-group .hero .input-group input {
    margin-bottom: 0;
    margin-top: 0;
  }
}
.hero .heading-content,
.hero .heading-main {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  margin: 80px auto 0;
  overflow-wrap: break-word;
}
.hero .subheading {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0 auto 20px;
}
.hero .search-container {
  margin: 60px auto 0;
  max-width: 600px;
  padding-left: 10px;
  padding-right: 10px;
}
.wrapper--categories.wrapper--showcase,
.wrapper.wrapper--categories {
  padding: 0;
}
.btn,
input[type="submit"] {
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.1px;
  padding: 8px 20px;
  text-transform: uppercase;
}
.btn:hover,
input:hover[type="submit"] {
  color: #000;
}
.btn-primary,
input[type="submit"] {
  background: #005eb8;
  border-color: #005eb8;
  color: #fff;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
input:active[type="submit"],
input:focus[type="submit"],
input:hover[type="submit"] {
  background: #0a69a4;
  border-color: #0a69a4;
  color: #fff;
}
.btn-secondary,
.btn-secondary--search {
  background: #005eb8;
  border-color: #005eb8;
  color: #fff;
}
.btn-secondary--search:active,
.btn-secondary--search:focus,
.btn-secondary--search:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background: #005eb8;
  border-color: #005eb8;
  color: #fff;
}
.btn-transparent {
  background: 0 0;
  border-color: #f5f6f7;
  color: #fff;
}
.btn-transparent:active,
.btn-transparent:focus,
.btn-transparent:hover {
  background: rgba(26, 26, 26, 0);
  border-color: #fff;
  color: #fff;
}
.btn-categories {
  background: #010d14;
  border-color: #010d14;
  color: #fff;
}
.btn-categories:active,
.btn-categories:focus,
.btn-categories:hover {
  background: #042b44;
  border-color: #042b44;
  color: #fff;
}
.btn-secondary--search {
  background-color: #fff;
  border: none;
  color: #005eb8;
  padding: 6px;
}
.btn-secondary--search:active,
.btn-secondary--search:focus,
.btn-secondary--search:hover {
  background-color: #fff;
  border: none;
  box-shadow: none;
  color: #488444;
  outline: 0;
}
.btn-secondary--search:focus:active {
  outline: 0;
}
.btn-secondary--search:hover {
  background-color: #fff;
}
.btn-group-lg > .btn,
.btn-group-lg > input[type="submit"],
.btn-lg {
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
}
.btn-dataset {
  background: #676767;
  border-color: #676767;
  color: #fff;
}
.btn-dataset:active,
.btn-dataset:focus,
.btn-dataset:hover {
  background: #818181;
  border-color: #818181;
  color: #fff;
}
.btn-container {
  margin-top: 25px;
  text-align: center;
}
@media (max-width: 340px) {
  .btn-container a + a {
    margin-top: 5px;
  }
}
.icon-link {
  display: flex;
}
.icon-link__text {
  font-size: 18px;
  text-align: left;
  width: 90%;
}
.icon-link__icon {
  width: 10%;
}
.icon-link__link {
  background: #488444;
  color: #fff;
}
.input-group-btn .btn,
.input-group-btn input[type="submit"] {
  border: 0;
}
body.category {
  border-radius: 0;
  margin: 0;
  padding: 0;
}
.wrapper,
.wrapper--showcase {
  padding: 0;
}
.container--heading {
  margin-bottom: 30px;
}
.stats {
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 60px auto;
  background: rgba(0, 0, 0, 0.3);
  width: fit-content;
  padding: 2rem;
  border-radius: 15px;
}
@media (min-width: 768px) {
  .stats {
    max-width: 600px;
  }
}
.stats .stat__link {
  color: #fff;
}
.stat__wrapper {
  border-left: 1px solid #fff;
  text-align: center;
}
@media (min-width: 992px) {
  .stat__wrapper {
    text-align: left;
  }
}
.stat__wrapper:first-child {
  border-left: none;
}
.stat__wrapper:last-child {
  border-left: none;
  margin-left: auto;
}
.stat__wrapper .btn,
.stat__wrapper input[type="submit"] {
  vertical-align: middle;
}
.stat {
  border-radius: 3px;
  display: inline-block;
  padding: 2px 20px;
  text-align: center;
}
.stat > div {
  display: block;
}
.stat > div.stat__value {
  display: inline-block;
}
.stat__value {
  font-family: Roboto, sans-serif;
  font-size: 23px;
}
.stat__description {
  font-size: 13px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}
.category__wrapper {
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 180px;
}
.category--box {
  background-color: transparent;
  color: #90beca;
  height: 100%;
  margin-left: 0;
  padding: 20px 15px;
  transition: all 0.2s ease-in-out 0s;
}
.category--box:hover {
  background-color: #010d14;
}
.category__link {
  color: black;
  display: flex;
  font-size: 14px;
  height: 100%;
  margin: auto;
  text-align: center;
}
@media (min-width: 480px) {
  .category__link {
    display: block;
  }
}
.category__link-content {
  margin: auto;
}
.category__icon {
  text-align: center;
}
.category__icon img {
  height: 36px;
  width: 36px;
}
.category__name {
  display: block;
  margin: 0 5px;
  text-transform: uppercase;
  word-break: normal;
}
@media (min-width: 480px) {
  .category__name {
    margin: 5px auto;
  }
}
.category__count {
  font-weight: 400;
}
.datasets {
  border-left: 1px solid #ddd;
  padding-left: 40px;
}
.dataset {
  border-top: 1px solid #ddd;
  display: flex;
  list-style: none;
  margin: 10px auto;
  padding: 10px 0;
}
.dataset__content {
  padding: 0 0 0 20px;
}
.dataset__content::after {
  clear: both;
  content: "";
  display: block;
}
.dataset__type {
  color: #488444;
  font-size: 10px;
  text-transform: uppercase;
}
.dataset__title {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  margin: 0;
}
.dataset__body {
  color: #005eb8;
}
.wrapper--showcase {
  background: #f5f6f7;
}
.wrapper--showcase .container {
  margin: 0 auto;
  width: 300px;
}
@media (min-width: 768px) {
  .wrapper--showcase .container {
    width: 600px;
  }
}
@media (min-width: 992px) {
  .wrapper--showcase .container {
    width: 600px;
  }
}
@media (min-width: 1248px) {
  .wrapper--showcase .container {
    width: 1200px;
  }
}
.wrapper--showcase .heading {
  margin-bottom: 20px;
}
.showcase__wrapper {
  float: left;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
}
.showcase {
  background: #005eb8;
  border-radius: 3px;
  color: #fff;
}
.showcase__text {
  color: #fff;
  height: 120px;
  overflow: hidden;
  position: relative;
}
.showcase__text::after {
  background: linear-gradient(
    rgba(7, 74, 116, 0) 40%,
    rgba(7, 74, 116, 0.2) 70%,
    #005eb8 100%
  );
  content: "";
  display: block;
  position: absolute;
}
.showcase__link,
.showcase__link:hover {
  color: #fff;
}
.search-form {
  display: flex;
  margin: 10px auto;
}
.search-form label {
  display: block;
  margin: auto;
  width: 100%;
}
.search-form label input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  font-weight: 400;
}
.search-form button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.search-content__type {
  color: #488444;
  font-size: 10px;
  text-transform: uppercase;
}
.search-content__title {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  margin: 0;
}
.search-content__body {
  color: #005eb8;
}
.search-content .secondary {
  background: #f8f8f8;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-top: 20px;
  padding: 0;
}
.search-content .secondary .main-heading {
  font-size: 28px;
  font-weight: 500;
  margin: 10px 0;
  padding: 0 10px;
}
.search-form-container {
  position: absolute;
  top: 293.333px;
  width: 100%;
}
.title-box {
  padding: 2rem;
  width: min(500px, 90vw);
  background-color: rgba(0, 0, 0, 0.35);
  margin: 0 auto;
  border-radius: 15px;
}
@media (min-width: 992px) {
  .search-form-container {
    top: 326.667px;
  }
}
.search-form-container .search-form {
  margin: auto;
  width: 100%;
}
@media (min-width: 992px) {
  .search-form-container .search-form {
    max-width: 768px;
  }
}

.wrapper {
  border: none;
  box-shadow: none;
}

.wrapper::before {
  border: none;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul ul {
  margin-bottom: 0;
}
a {
  color: #005eb8;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #00376c;
  text-decoration: underline;
}
a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}
img {
  vertical-align: middle;
  border-style: none;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
[role="button"] {
  cursor: pointer;
}
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
[hidden] {
  display: none !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.h1,
h1 {
  font-size: 2.5rem;
}
@media (max-width: 1200px) {
  .h1,
  h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
}
.h2,
h2 {
  font-size: 2rem;
}
@media (max-width: 1200px) {
  .h2,
  h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
}
.h3,
h3 {
  font-size: 1.75rem;
}
@media (max-width: 1200px) {
  .h3,
  h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
}
.h4,
h4 {
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .h4,
  h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
}
.h5,
h5 {
  font-size: 1.25rem;
}
.h6,
h6 {
  font-size: 1rem;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
.container,
.container-lg {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg {
    max-width: 1140px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto {
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}
.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}
.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}
.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}
.d-none {
  display: none !important;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: flex !important;
}
.d-inline-flex {
  display: inline-flex !important;
}
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: inline-flex !important;
  }
}
.flex-row {
  flex-direction: row !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-nowrap {
  flex-wrap: nowrap !important;
}
.justify-content-center {
  justify-content: center !important;
}
.align-items-center {
  align-items: center !important;
}
.align-items-stretch {
  align-items: stretch !important;
}
.align-content-center {
  align-content: center !important;
}
.align-content-stretch {
  align-content: stretch !important;
}
@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row !important;
  }
  .flex-lg-column {
    flex-direction: column !important;
  }
  .flex-lg-nowrap {
    flex-wrap: nowrap !important;
  }
  .justify-content-lg-center {
    justify-content: center !important;
  }
  .align-items-lg-center {
    align-items: center !important;
  }
  .align-items-lg-stretch {
    align-items: stretch !important;
  }
  .align-content-lg-center {
    align-content: center !important;
  }
  .align-content-lg-stretch {
    align-content: stretch !important;
  }
}
@supports (position: sticky) {
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.w-25 {
  width: 25% !important;
}
.w-50 {
  width: 50% !important;
}
.w-75 {
  width: 75% !important;
}
.w-100 {
  width: 100% !important;
}
.w-auto {
  width: auto !important;
}
.h-25 {
  height: 25% !important;
}
.h-50 {
  height: 50% !important;
}
.h-75 {
  height: 75% !important;
}
.h-100 {
  height: 100% !important;
}
.h-auto {
  height: auto !important;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}
.mx-0 {
  margin-right: 0 !important;
}
.my-0 {
  margin-bottom: 0 !important;
}
.mx-0 {
  margin-left: 0 !important;
}
.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}
.mx-1 {
  margin-right: 0.25rem !important;
}
.my-1 {
  margin-bottom: 0.25rem !important;
}
.mx-1 {
  margin-left: 0.25rem !important;
}
.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}
.mx-2 {
  margin-right: 0.5rem !important;
}
.my-2 {
  margin-bottom: 0.5rem !important;
}
.mx-2 {
  margin-left: 0.5rem !important;
}
.mt-3,
.my-3 {
  margin-top: 1rem !important;
}
.mx-3 {
  margin-right: 1rem !important;
}
.my-3 {
  margin-bottom: 1rem !important;
}
.mx-3 {
  margin-left: 1rem !important;
}
.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
.mx-4 {
  margin-right: 1.5rem !important;
}
.my-4 {
  margin-bottom: 1.5rem !important;
}
.mx-4 {
  margin-left: 1.5rem !important;
}
.mt-5,
.my-5 {
  margin-top: 3rem !important;
}
.mx-5 {
  margin-right: 3rem !important;
}
.my-5 {
  margin-bottom: 3rem !important;
}
.mx-5 {
  margin-left: 3rem !important;
}
.p-0 {
  padding: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.pb-1 {
  padding-bottom: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.pb-2 {
  padding-bottom: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.pb-3 {
  padding-bottom: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.pb-4 {
  padding-bottom: 1.5rem !important;
}
.p-5 {
  padding: 3rem !important;
}
.pb-5 {
  padding-bottom: 3rem !important;
}
.mt-auto,
.my-auto {
  margin-top: auto !important;
}
.mx-auto {
  margin-right: auto !important;
}
.my-auto {
  margin-bottom: auto !important;
}
.mx-auto {
  margin-left: auto !important;
}
@media (min-width: 992px) {
  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important;
  }
  .mx-lg-0 {
    margin-right: 0 !important;
  }
  .my-lg-0 {
    margin-bottom: 0 !important;
  }
  .mx-lg-0 {
    margin-left: 0 !important;
  }
  .mt-lg-1,
  .my-lg-1 {
    margin-top: 0.25rem !important;
  }
  .mx-lg-1 {
    margin-right: 0.25rem !important;
  }
  .my-lg-1 {
    margin-bottom: 0.25rem !important;
  }
  .mx-lg-1 {
    margin-left: 0.25rem !important;
  }
  .mt-lg-2,
  .my-lg-2 {
    margin-top: 0.5rem !important;
  }
  .mx-lg-2 {
    margin-right: 0.5rem !important;
  }
  .my-lg-2 {
    margin-bottom: 0.5rem !important;
  }
  .mx-lg-2 {
    margin-left: 0.5rem !important;
  }
  .mt-lg-3,
  .my-lg-3 {
    margin-top: 1rem !important;
  }
  .mx-lg-3 {
    margin-right: 1rem !important;
  }
  .my-lg-3 {
    margin-bottom: 1rem !important;
  }
  .mx-lg-3 {
    margin-left: 1rem !important;
  }
  .mt-lg-4,
  .my-lg-4 {
    margin-top: 1.5rem !important;
  }
  .mx-lg-4 {
    margin-right: 1.5rem !important;
  }
  .my-lg-4 {
    margin-bottom: 1.5rem !important;
  }
  .mx-lg-4 {
    margin-left: 1.5rem !important;
  }
  .mt-lg-5,
  .my-lg-5 {
    margin-top: 3rem !important;
  }
  .mx-lg-5 {
    margin-right: 3rem !important;
  }
  .my-lg-5 {
    margin-bottom: 3rem !important;
  }
  .mx-lg-5 {
    margin-left: 3rem !important;
  }
  .p-lg-0 {
    padding: 0 !important;
  }
  .pb-lg-0 {
    padding-bottom: 0 !important;
  }
  .p-lg-1 {
    padding: 0.25rem !important;
  }
  .pb-lg-1 {
    padding-bottom: 0.25rem !important;
  }
  .p-lg-2 {
    padding: 0.5rem !important;
  }
  .pb-lg-2 {
    padding-bottom: 0.5rem !important;
  }
  .p-lg-3 {
    padding: 1rem !important;
  }
  .pb-lg-3 {
    padding-bottom: 1rem !important;
  }
  .p-lg-4 {
    padding: 1.5rem !important;
  }
  .pb-lg-4 {
    padding-bottom: 1.5rem !important;
  }
  .p-lg-5 {
    padding: 3rem !important;
  }
  .pb-lg-5 {
    padding-bottom: 3rem !important;
  }
  .mt-lg-auto,
  .my-lg-auto {
    margin-top: auto !important;
  }
  .mx-lg-auto {
    margin-right: auto !important;
  }
  .my-lg-auto {
    margin-bottom: auto !important;
  }
  .mx-lg-auto {
    margin-left: auto !important;
  }
}
.text-justify {
  text-align: justify !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}
.text-body {
  color: #2f2d2c !important;
}
@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn):not(.search__btn):not(.btn-more) {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  @page {
    size: a3;
  }
  body {
    min-width: 992px !important;
  }
  .container {
    min-width: 992px !important;
  }
}
@font-face {
  font-family: SantaMonicaSharp;
  font-style: normal;
  font-weight: 700;
  src: url(../Fonts/SantaMonicaSharp-Bold.ttf);
}
@font-face {
  font-family: SantaMonicaSharp;
  font-style: oblique;
  font-weight: 700;
  src: url(../Fonts/SantaMonicaSharp-BoldObl.ttf);
}
@font-face {
  font-family: SantaMonicaSharp;
  font-style: normal;
  font-weight: 400;
  src: url(../Fonts/SantaMonicaSharp-Medium.ttf);
}
@font-face {
  font-family: SantaMonicaSharp;
  font-style: oblique;
  font-weight: 400;
  src: url(../Fonts/SantaMonicaSharp-MediumObl.ttf);
}
html {
  overflow-x: hidden;
}
body {
  font-family: SantaMonicaSharp, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.03em;
  overflow-x: hidden;
}
@media (max-width: 767.98px) {
  body {
    margin-top: 60px;
  }
}
@media (min-width: 768px) {
  body {
    overflow-y: auto !important;
  }
}
a:focus {
  background-color: #e5eff8;
  outline: 1px dotted #005eb8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.05em;
  color: #2f2d2c;
}
.logo {
  width: 100px;
}
@media (min-width: 768px) {
  .logo {
    width: 150px;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) {
  .logo {
    width: 180px;
    margin: 0;
    margin-bottom: 0.1rem;
  }
}
@keyframes dropdown {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes flyout {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.label-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 4px;
}
@media (max-width: 767.98px) {
  .label {
    display: none;
  }
}
svg:not(:root) {
  overflow: visible;
}
a:hover {
  text-decoration: none;
}
.column-hr {
  display: block;
  width: 100%;
}
@media (max-width: 767.98px) {
  .column-hr {
    display: none;
  }
}
.column-hr {
  display: block;
  width: 100%;
}
@media (max-width: 767.98px) {
  .column-hr {
    display: none;
  }
}
#nav:after {
  content: "";
  width: 100vw;
  border-bottom: 2px solid #f5f5f5;
  position: absolute;
  top: 100%;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
nav li,
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav a {
  display: block;
  text-decoration: none;
  color: #2f2d2c;
}
nav a:hover,
nav a:visited {
  text-decoration: none;
}
.nav__container {
  background: #fff;
  display: flex;
  flex-wrap: nowrap;
  z-index: 10;
  transition: 0.2s ease;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .nav__container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
@media (max-width: 767.98px) {
  .nav__container {
    background-color: #f5f5f5;
    margin-top: 60px;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -101%;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    transition: left 0.3s;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.25);
  }
  .nav__container
    > li
    > [aria-haspopup="true"]
    ~ ul
    > li
    > [aria-haspopup="true"]
    ~ ul
    a {
    padding-left: 2rem;
  }
  .nav__container > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"] {
    color: #2f2d2c;
  }
}
@media (max-width: 767.98px) {
  .nav__container:focus-within,
  .nav__container:hover {
    left: 0;
  }
  .nav__container > li > [aria-haspopup="true"] ~ ul {
    margin-top: calc(1.4em + 40px);
  }
}
footer {
  padding: 4rem 0;
}
footer ul {
  margin-bottom: 0;
}
footer h6 {
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
footer a {
  color: #2f2d2c;
  font-size: 14px;
  cursor: pointer;
  line-height: 1.2rem;
}
@media (min-width: 768px) {
  footer a {
    line-height: 1.7rem;
  }
}
@media (max-width: 767.98px) {
  .footer__nav-right ul:nth-child(4) {
    padding-bottom: 1rem;
  }
}
footer span.hr {
  display: flex;
}
footer span.hr:after {
  content: "";
  width: 25px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
.footer__nav-left__item,
.footer__nav-right__item {
  margin-bottom: 0.5rem;
}
.footer__nav-left__item .hr,
.footer__nav-left__item a,
.footer__nav-right__item .hr,
.footer__nav-right__item a {
  min-height: 30px;
}
@media (max-width: 767.98px) {
  .footer__nav-left__item .hr,
  .footer__nav-left__item a,
  .footer__nav-right__item .hr,
  .footer__nav-right__item a {
    margin-bottom: 0;
    min-height: 40px;
  }
}
.footer__nav-socials ul {
  margin-left: -0.5rem;
}
@media (max-width: 767.98px) {
  .footer__nav-socials ul {
    margin-top: 1.5rem;
    margin-left: -1rem;
    display: flex;
    justify-content: space-between;
  }
}
.footer__nav-socials i {
  font-size: 1.5rem;
}
@media (max-width: 767.98px) {
  .footer__nav-socials i {
    font-size: 2rem;
  }
}
.footer__nav-left-social__item {
  padding: 0.4rem;
}
@media (max-width: 767.98px) {
  .footer__nav-left-social__item {
    padding: 1rem;
  }
}
.footer__xline {
  max-width: 80%;
}
.footer__yline {
  border-right: 1px solid #e5e5e5;
  margin: 0 7rem;
}
.footer__newsletter {
  max-width: 300px;
}
.footer__newsletter p {
  font-size: 14px;
}
@media (max-width: 991.98px) {
  .footer__newsletter p {
    padding: 0 2rem;
  }
}
@media (min-width: 992px) {
  .footer__newsletter p {
    max-width: 75%;
    font-size: 14px;
  }
}
.footer__newsletter-image {
  max-width: 210px;
  width: 100%;
}
.hidden-footer {
  display: none;
}