{% ckan_extends %} {% set intro = g.site_intro_text %} {% set stats =
h.get_site_statistics() %} {% block styles %} {{ super() }} {% asset
'santamonica/landing_page' %} {% endblock %}{% block content %}
<div id="primary">
  <main id="main" class="site-main site-main--home" role="main">
    <div
      class="hero"
      style="
        background-image: url('https://smgov-ckan-storage.s3.us-west-2.amazonaws.com/assets/BackgroundBanner.avif');
      "
    >
      <div class="hero__inner">
        <div class="container">
          <div class="row-hero">
            <div class="title-box">
              <h1 class="heading-main text-center">City Of Santa Monica</h1>
              <h2 class="subheading text-center">
                The Data Portal for the City of Santa Monica
              </h2>
            </div>

            <form method="get" action="/dataset">
              <div class="search-container">
                <div class="input-group">
                  <!-- /btn-group -->
                  <input
                    type="text"
                    id="q"
                    class="form-control input-lg"
                    aria-label="..."
                    placeholder="Tag"
                  />
                  <span class="input-group-btn">
                    <button
                      id="search"
                      class="btn btn-secondary--search"
                      type="button"
                    >
                      Search
                    </button>
                  </span>
                </div>
                <!-- /input-group -->
              </div>
            </form>
          </div>

          <div class="row-hero">
            <div class="stats">
              <a href="/dataset" class="stat__link">
                <div class="stat__wrapper">
                  <div class="stat">
                    <div class="stat__value counter">
                      {{ h.SI_number_span(stats.dataset_count) }}
                    </div>
                    <div class="stat__description">Datasets</div>
                  </div>
                </div>
              </a>
              <a
                href="{{ h.url_for(controller='organization', action='index') }}"
                class="stat__link"
              >
                <div class="stat__wrapper">
                  <div class="stat">
                    <div class="stat__value counter">
                      {{ h.SI_number_span(stats.organization_count) }}
                    </div>
                    <div class="stat__description">Organizations</div>
                  </div>
                </div>
              </a>
              <a
                href="{{ h.url_for(controller='group', action='index') }}"
                class="stat__link"
              >
                <div class="stat__wrapper">
                  <div class="stat">
                    <div class="stat__value counter">
                      {{ h.SI_number_span(stats.group_count) }}
                    </div>
                    <div class="stat__description">Groups</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- end hero__inner in categories -->
    </div>
    <div class="wrapper wrapper--categories">
      <div class="container">
        <div class="row-hero">
          <div class="categories">
            {% for org in h.santamonica_dataset_orgs() %}
            <div class="category__wrapper">
              <div class="category--box">
                <a
				  href="organization/{{org.name}}"
                  class="category__link"
                >
                  <div class="category__link-content">
					<span class="category__icon">
						<img src="{{ org.image_display_url }}"></img>  
                    </span>
                    <span class="category__name">{{ org.title }} </span>
                    <span class="category__count"
                      >{{ org.package_count }}</span
                    >
                  </div>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="wrapper wrapper--categories">
        <div class="container">
          <div class="row-hero" style="text-align: center; padding: 32px 0">
            <a href="/dataset" class="btn btn-transparent btn-categories"
              >All datasets</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- end hero in categories -->
  </main>
</div>
{% endblock %}
